.country-selector {
    padding: 10px 45px 10px 20px;
    max-width: 400px;
    background-color: #1d3557;
    color: #FFFFFF;
    border: 2px solid;
    border-radius: 5px;
    margin: 20px 0px 20px 0px;
    font-style: italic;
    width: 100%;
    text-align: center;
    height: 65px;
    font-weight: 600;
    font-size: 22px;
    text-align: left;
    
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: 50%;
}
